<div class="project-popUpBody">
  <div class="project-popUpHeader">
    <span>2020-10-06 19:55:48</span>
  </div>
  <div class="project-popUpHeadingInfo">
    <div class="headingTitle">
      <div>
        <span></span><strong>cae423b5-2071-4624-82d6-732d9e70404e</strong></span>
      </div>
      <div class="alert alert-primary" role="alert">AGENDADO</div>
    </div>
    <div class="headingBody">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col">
              <span><strong>Facturado a:</strong></span>
            </div>
            <div class="col">
              <span>test admin</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span><strong>Creado por:</strong></span>
            </div>
            <div class="col">
              <span>juanpares2011@gmail.com </span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span><strong>Categoria:</strong></span>
            </div>
            <div class="col">
              <span>Fotografia </span>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="row">
            <div class="col">
              <span><strong>Proyecto No:</strong></span>
            </div>
            <div class="col">
              <span>1</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span><strong>Fecha Inicio:</strong></span>
            </div>
            <div class="col">
              <span>2020-10-06 19:55:31</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span><strong>Fecha Fin:</strong></span>
            </div>
            <div class="col">
              <span>2020-10-07 19:55:34</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <span><strong>Observaciones:</strong></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="project-popUpBody"></div>
</div>
