<div class="card pop-up">
    <div class="pop-up_header">
        <h3>Asignar estación</h3>
        <i class="fas fa-times-circle" id="close-pop-up"></i>
    </div>
    <div class="alert alert-success" id="customerAlert" role="alert" style="display: none;">
  ¡Cliente creado!
</div>
    <form>
        <div>
            <div class="row">
                <div class="col">
                    <span>Documento</span>
                    <input type="checkbox" class="form-control" id="new_customer_id_input">
                </div>
                <div class="col">
                    <span>Nombres</span>
                    <input type="checkbox" class="form-control" id="new_customer_name_input">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span>Apellidos</span>
                    <input type="checkbox" class="form-control" id="new_customer_lastName_input">
                </div>
                <div class="col">
                    <span>Celular</span>
                    <input type="checkbox" class="form-control" id="new_customer_phone_input">
                </div>
            </div>
        </div>
        <div class="row center">
            <button type="button" class="btn btn-primary form-control" id="new_customer_button">Agregar</button>
        </div>
    </form>
</div>